name: Release

on:
  push:
    tags: ['v*.*.*']

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go get .

      - name: Build
        env:
          CGO_ENABLED: '0'
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: go build -trimpath -ldflags="-s -w" -o mysql-waiter-${{ matrix.goos }}-${{ matrix.goarch }} .

      - name: Upload release binary
        uses: actions/upload-artifact@v4
        with:
          name: mysql-waiter-${{ matrix.goos }}-${{ matrix.goarch }}
          path: mysql-waiter-${{ matrix.goos }}-${{ matrix.goarch }}
